<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Angular UI tabsets challenge</title>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.7/fastclick.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="assets/plunker.js"></script>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body ng-controller="MainCtrl">
  
<div class="row code">
  <div class="col-md-12" ng-controller="PlunkerCtrl">
      <div class="pull-right">
          <button class="btn btn-info" id="plunk-btn" ng-click="edit('1.0.8', '3.0.3', '0.9.0', 'accordion')"><i class="glyphicon glyphicon-edit"></i> Edit in plunker</button>
      </div>
      <tabset>
          <tab heading="Markup">
              <div plunker-content="markup">
                  <pre ng-non-bindable><code data-language="html">&lt;div ng-controller=&quot;AccordionDemoCtrl&quot;&gt;
  &lt;label class=&quot;checkbox&quot;&gt;
  &lt;input type=&quot;checkbox&quot; ng-model=&quot;oneAtATime&quot;&gt;
  Open only one at a time
  &lt;/label&gt;

  &lt;accordion close-others=&quot;oneAtATime&quot;&gt;
  &lt;accordion-group heading=&quot;Static Header, initially expanded&quot; is-open=&quot;true&quot;&gt;
  This content is straight in the template.
  &lt;/accordion-group&gt;
  &lt;accordion-group heading=&quot;{{group.title}}&quot; ng-repeat=&quot;group in groups&quot;&gt;
  {{group.content}}
  &lt;/accordion-group&gt;
  &lt;accordion-group heading=&quot;Dynamic Body Content&quot;&gt;
  &lt;p&gt;The body of the accordion group grows to fit the contents&lt;/p&gt;
  &lt;button class=&quot;btn btn-default btn-sm&quot; ng-click=&quot;addItem()&quot;&gt;Add Item&lt;/button&gt;
  &lt;div ng-repeat=&quot;item in items&quot;&gt;{{item}}&lt;/div&gt;
  &lt;/accordion-group&gt;
  &lt;accordion-group is-open=&quot;isopen&quot;&gt;
  &lt;accordion-heading&gt;
  I can have markup, too! &lt;i class=&quot;pull-right glyphicon&quot; ng-class=&quot;{&#x27;glyphicon-chevron-down&#x27;: isopen, &#x27;glyphicon-chevron-right&#x27;: !isopen}&quot;&gt;&lt;/i&gt;
  &lt;/accordion-heading&gt;
  This is just some content to illustrate fancy headings.
  &lt;/accordion-group&gt;
  &lt;/accordion&gt;
  &lt;/div&gt;</code></pre>
              </div>
          </tab>
          <tab heading="JavaScript">
              <div plunker-content="javascript">
                  <pre ng-non-bindable><code data-language="javascript">function AccordionDemoCtrl($scope) {
  $scope.oneAtATime = true;

  $scope.groups = [
  {
  title: &quot;Dynamic Group Header - 1&quot;,
  content: &quot;Dynamic Group Body - 1&quot;
  },
  {
  title: &quot;Dynamic Group Header - 2&quot;,
  content: &quot;Dynamic Group Body - 2&quot;
  }
  ];

  $scope.items = [&#x27;Item 1&#x27;, &#x27;Item 2&#x27;, &#x27;Item 3&#x27;];

  $scope.addItem = function() {
  var newItemNo = $scope.items.length + 1;
  $scope.items.push(&#x27;Item &#x27; + newItemNo);
  };
  }
  </code></pre>
              </div>
          </tab>
      </tabset>
  </div>
</div>                
</body>

</html>
